[user]
  name = Dimitris Poulopoulos
  email = dimpo@arrikto.com
  signingkey = BEB28EF547EC1C77422064A779171B0722FF7FE2
[color]
  ui = auto
[sendemail]
  envelopesender = dimpo@arrikto.com
  smtpEncryption = tls
  smtpServer = smtp.gmail.com
  smtpServerPort = 587
  smtpuser = dimpo@arrikto.com
  suppressfrom = true
  suppresscc = all
  chainreplyto = false
  confirm = always
[credential]
  helper = !echo password=$(pass show smtp.gmail.com) && :
[alias]
  author   = !"SEARCH=${@:-`git config user.email`}; set --; git log --format='%aN <%aE>' | uniq | grep -m 1 \"$SEARCH\""
  authors  = !"SEARCH=${@:-`git config user.email`}; set --; git log --format='%aN <%aE>' | grep \"$SEARCH\" | uniq | awk '!a[$0]++'"
  reviewed = !"BRANCH=${1:-master}; shift; AUTHORS=\"~/Projects/scripts/git-reviewed.sh\"; for A in \"${@:-`git config user.email`}\"; do AUTHORS=$AUTHORS\" \\\"`git author $A`\\\"\"; done; set --; git rebase -i -x \"$AUTHORS\" $BRANCH"
[core]
  editor = vim
  excludesfile = ~/.gitignore_global