[user]
  name = Dimitris Poulopoulos
  email = dimitris.a.poulopoulos@gmail.com
  signingkey = 76E7CE1D63EE16C9
[core]
  pager = delta
  editor = nvim
[init]
  defaultBranch = main
[color]
  ui = auto
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[merge]
  confictstyle = diff3
[alias]
  stall = stash --all
[includeIf "gitdir:~/git/mozilla.ai/"]
  path = ~/git/mozilla.ai/.gitconfig
[rebase]
  updateRefs = true
[diff]
  colorMoved = default
[diff "ansible-vault"]
  textconv = ansible-vault view
[status]
  submoduleSummary = true
[commit]
  gpgsign = true
